/.git/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles
/6-digits-lottery/.idea/.gitignore
/6-digits-lottery/.idea/6-digits-lottery.iml
/6-digits-lottery/.idea/inspectionProfiles/profiles_settings.xml
/6-digits-lottery/.idea/misc.xml
/6-digits-lottery/.idea/modules.xml
/6-digits-lottery/.idea/vcs.xml
/youTube-dl/Downloads
/youTube-dl/Bossa
/youTube-dl/Lounge
.ipynb_checkpoints
/planner/check-availability/__pycache__
/planner/.idea
/.idea/*.gitignore
/.idea/*.name
/.idea/inspectionProfiles/*.xml
/.idea/*.xml
/.idea/*.iml
/Docker-R/data/.local
/Docker-R/data/.config
/planner/planner-app/.idea
/planner/planner-app/availability/__pycache__/*.pyc
/planner/planner-app/booking/__pycache__/*.pyc
/planner/planner-app/configuration/__pycache__/*.pyc
/planner/planner-app/utilities/__pycache__/*.pyc