/.git/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles
/6-digits-lottery/.idea/.gitignore
/6-digits-lottery/.idea/6-digits-lottery.iml
/6-digits-lottery/.idea/inspectionProfiles/profiles_settings.xml
/6-digits-lottery/.idea/misc.xml
/6-digits-lottery/.idea/modules.xml
/6-digits-lottery/.idea/vcs.xml
/youTube-dl/Downloads
.ipynb_checkpoints
