/.git/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles
/6-digits-lottery/.idea/.gitignore
/6-digits-lottery/.idea/6-digits-lottery.iml
/6-digits-lottery/.idea/inspectionProfiles/profiles_settings.xml
/6-digits-lottery/.idea/misc.xml
/6-digits-lottery/.idea/modules.xml
/6-digits-lottery/.idea/vcs.xml
/youTube-dl/Downloads
.ipynb_checkpoints
/planner/check-availability/__pycache__
/planner/.idea
/.idea/*.gitignore
/.idea/*.name
/.idea/inspectionProfiles/*.xml
/.idea/*.xml
/.idea/*.iml
/planner/availability-and-booking/__pycache__/*.pyc
/planner/availability-and-booking-structured/.idea
