{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Articles in the {{ category }} category{% endblock %}

{% if category == 'SERVICES' %}
  {% set category_name =  SERVICES  %}
  {% set category_title =  SERVICES  %}
{% endif %}


{# <!-- Choosing cover image --> #}
{% set category_cover = None %}
{% set category_description = None %}
{% if CATEGORY_META and CATEGORY_META[category.name.lower()] %}
  {% set category_cover = CATEGORY_META[category.name.lower()].cover %}
  {% set category_color = CATEGORY_META[category.name.lower()].color %}
  {% set category_description = CATEGORY_META[category.name.lower()].description %}
{% endif %}

{% if category_cover %}
  {% if category_cover|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = category_cover %}
  {% elif category_cover.startswith('/') %}
    {% set selected_cover = SITEURL+category_cover %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+category_cover %}
  {% endif %}
{% elif category_color %}
  {% set selected_color = category_color %}
{% elif HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% elif HEADER_COVER.startswith('/') %}
    {% set selected_cover = SITEURL+HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HOME_COVER %}
  {% if HOME_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HOME_COVER %}
  {% elif HOME_COVER.startswith('/') %}
    {% set selected_cover = SITEURL+HOME_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HOME_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% endif %}

{% block canonical_url %}<link href="{{ SITEURL }}/{{category.url}}" rel="canonical" />{% endblock canonical_url %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="post-header {% if selected_cover or selected_color %} has-cover {% endif %}">
      <div class="inner">
        <h1 class="post-title">{{ category_name }}</h1>
        {% if selected_cover %}
          <div class="post-cover cover">
            <img src="{{ selected_cover }}" alt="{{ category_name }}" />
          </div>
        {% elif selected_color %}
          <div class="post-cover cover" style="background-color: {{ selected_color }}">
        {% endif %}
    </header>
{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    {% include "partials/articles-loop.html" %}
  </main>
</div>
{% endblock content %}
