{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}


<div class="blog-card">
    <input type="radio" name="select" id="tap-1" checked>
    <input type="radio" name="select" id="tap-2">
    <input type="radio" name="select" id="tap-3">
    <input type="checkbox" id="imgTap">
    <div class="sliders">
        <label for="tap-1" class="tap tap-1"></label>
        <label for="tap-2" class="tap tap-2"></label>
        <label for="tap-3" class="tap tap-3"></label>
    </div>
    <div class="inner-part">
        <label for="imgTap" class="img">
            <img class="img-1" src="{{SITEURL}}/images/scroll/img-1.jpg">
        </label>
        <div class="content content-1">
            <div class="title"><a href="{{SITEURL}}/pages/services/general-practice.html">{{SERVICE_EOPPY}}</a> </div>

        </div>
    </div>
    <div class="inner-part">
        <label for="imgTap" class="img">
            <img class="img-2" src="{{SITEURL}}/images/scroll/img-2.jpg">
        </label>
        <div class="content content-2">
            <div class="title"><a href="{{SITEURL}}/pages/services/general-practice.html">{{SERVICE_EXAMS}}</a> </div>

        </div>
    </div>
    <div class="inner-part">
        <label for="imgTap" class="img">
            <img class="img-3" src="{{SITEURL}}/images/scroll/img-3.jpg">
        </label>
        <div class="content content-3">
            <div class="title"><a href="{{SITEURL}}/pages/services/botox.html">{{SERVICE_BOTOX}}</a> </div>p
        </div>
    </div>
</div>
{% endblock content %}
