{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
<!--<h1 class="title">Hi, I'm {{ AUTHOR }}</h1>-->

<div id="homepage-slider" class="st-slider">

    <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
    <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>


    <div class="images">
       <div class="images-inner">
        <div class="image-slide">
            <img src="../images/scroll/img-2.jpg" alt="Forest">
        </div>
        <div class="image-slide">
            <img src="../images/scroll/img-3.jpg" alt="Northern Lights">
        </div>
        <div class="image-slide">
            <img src="../images/scroll/img-4.jpg" alt="Mountains">
        </div>
      </div>
    </div>

    <div class="labels">pages/services/general-practice.html
        <label for="slide1" class="label"><h1>Συνταγογραφηση</h1></label>
        <label for="slide2" class="label"><h1>Παραπεμπτικα- Εξετασεις</h1></label>
        <label for="slide3" class="label"><h1>Αισθητικες Επεμβάσεις</h1></label>
      </div>


</div>

{% endblock content %}
