{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}

    <div class="container">
        <ul class="accordion">
          <li class="tabs">
            <div class="social-links twitter-icon">
              <a href="https://twitter.com/renettarenula">Twitter</a>
            </div>
            <div class="paragraph">
              <h1>Twitter</h1>
              <p>My thoughts in 140 characters or less. Sometimes, I do not know how to correctly use Twitter.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social-links facebook-icon">
              <a href="https://facebook.com">Facebook</a>
            </div>
            <div class="paragraph">
              <h1>Facebook</h1>
              <p>Where I get to stalk my friends and let them stalk me. A place to get people to stroke your ego.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social-links linkedin-icon">
               <a href="https://my.linkedin.com/pub/aysha-anggraini/49/a82/a05/">LinkedIn</a>
            </div>
            <div class="paragraph">
              <h1>LinkedIn</h1>
              <p>I act totally professional on this one. It is what the recruiters see, you see.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social-links insta-icon">
              <a href="http://instagram.com/renettarenula">Instagram</a>
            </div>
            <div class="paragraph">
              <h1>Instagram</h1>
              <p>Where I post my duckface pictures. Occasionally, I would post pictures of my food and my cats.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social-links youtube-icon">
              <a href="https://youtube.com">Youtube</a>
            </div>
            <div class="paragraph">
              <h1>YouTube</h1>
              <p>Just kidding! I do not have a YouTube account. I'm not too fond of the camera.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social-links tumblr-icon">
              <a href="https://renettarenula.tumblr.com/">Tumblr</a>
            </div>
            <div class="paragraph">
              <h1>Tumblr</h1>
              <p>I have a tumblr but I don't really use it. I still prefer WordPress. I'm quite old-fashioned.</p>
            </div>
          </li>
          <li class="tabs">
            <div class="social-links dribbble-icon">
              <a href="http://dribbble.com">Dribbble</a>
            </div>
            <div class="paragraph">
              <h1>Dribbble</h1>
              <p>I do not have a Dribbble account. Would any of you be so kind and send me an invite? </p>
            </div>
          </li>
        </ul>
  </div>

    <div class="blog-card">
        <ul>
            <li>
                <input id="rad1" type="radio" name="rad" checked="checked"/>
                <label for="rad1">
                    <div>{{SERVICE_EOPYY}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images/services/eopyy.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/eopyy.html">{{SERVICE_EOPYY}}</a> </h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Συνταγογράφηση</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Παραπεμπτικά</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <input id="rad2" type="radio" name="rad"/>
                <label for="rad2">
                    <div> {{SERVICE_PREVENTIVE_MEDICINE}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images//services/preventive-medicine.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/preventive-medicine.html">{{SERVICE_PREVENTIVE_MEDICINE}}</a></h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Ρύθμιση Αρτηριακής Πίεσης</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Διαβήτης</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Εµβολιασµοί</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Συµβουλευτική</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <input id="rad3" type="radio" name="rad"/>
                <label for="rad3">
                    <div>{{SERVICE_CHRONIC_DISEASE}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images//services/chronic-diseases.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/chronic-diseases.html">{{SERVICE_CHRONIC_DISEASE}}</a></h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Κατ' οίκον επισκεψεις</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Περιποίηση Τραυμάτων</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Διερεύνηση παθολογικών τιμών εργαστηριακών εξετάσεων</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <input id="rad4" type="radio" name="rad"/>
                <label for="rad4">
                    <div>{{SERVICE_ASSISTANCE}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images//services/assistance.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/assistance.html">{{SERVICE_ASSISTANCE}}</a></h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Eπίσκεψη στην οικία του ασθενούς</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <input id="rad5" type="radio" name="rad"/>
                <label for="rad5">
                    <div>{{SERVICE_EMERGENCY}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images//services/emergency.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/emergency.html">{{SERVICE_EMERGENCY}}</a></h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Αρτηριακή Υπέρταση</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Διαβήτης</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> ΧΑΠ</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <input id="rad6" type="radio" name="rad"/>
                <label for="rad6">
                    <div>{{SERVICE_CERTIFICATES}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images//services/medical-certificates.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/certificates.html">{{SERVICE_CERTIFICATES}}</a></h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Διπλωμάτων Οδηγησης</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Υγείας Εργαζομένων</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Αθλητικά</li>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Σχολικά</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
            <li>
                <input id="rad7" type="radio" name="rad"/>
                <label for="rad7">
                    <div>{{SERVICE_BOTOX}}</div>
                </label>
                <div class="accslide">
                    <div class="container">
                      <div class="img"><img src="{{SITEURL}}/images//services/botox.png"></div>
                      <div class="two"><h1><a href="{{SITEURL}}/pages/services/botox.html">{{SERVICE_BOTOX}}</a></h1></div>
                      <div class="three">
                          <ul>
                            <li> <img style="width:25px; height:auto; " src="{{SITEURL}}/images/bullet.png"/> Botox</li>
                          </ul>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div style="position:relative; height:50px;"></div>

    <div class="relative wrapper">
        <div class="bottom-div1">
            <h4>{{OPERATION_HOURS}}</h4>
            <ul class="time-sidual">
                <li class="li">{{OPERATION_DAYS_GROUP_1}}: <span>{{OPERATION_HOURS_GROUP_1}}</span></li>
                <li class="li">{{OPERATION_DAYS_GROUP_2}}: <span>{{OPERATION_HOURS_GROUP_2}}</span></li>
            </ul>
        </div>

        <div class="bottom-div3">
            <h4>{{EMERGENCY_CASES}}</h4>
            <ul class="time-sidual">
                <li class="li">{{MOBILE}}</li>
                <li class="li">{{EMAIL}}</li>
            </ul>
        </div>

         <div style="text-align: center" class="bottom-div2">
            <h4><a href="{{SITEURL}}/pages/Contact.html">{{RANDEVOUZ}}</a></h4>
        </div>


    </div>
{% endblock content %}
