<!--{% print(page.slug) %}-->


{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}


<article>

    {% if  page.slug  in ('CV') %}
        <div  class="header-cv">
            <img class="img-cv" src="{{SITEURL}}/images/me.png" />
            <span class="span-cv">
                {{ADDRESS}} <br>
                {{MOBILE}} <br>
                {{EMAIL}} <br>
            </span>
            {{NAME}}<br>
            {{PROFESSION_DESCRIPTION}}<br>
            {{PROFESSION_TITLE}}
        </div>
        <br><br>
        <div class="scroll">
            {{ page.content }}
        </div>
    {% endif %}

    {% if  page.slug  in ('Services') %}

        <!--<div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <input type="checkbox" id="imgTap">-->

            <!--<div class="inner-part">
                <div class="content content-1">
                    <div class="text">-->
                       {% if articles %}
                            <ol class="posts">
                                <!-- {% block heading %}<h2 class="latest">{{ SERVICES }}</h2>{% endblock %} -->
                                {% for article in (articles_page.object_list if articles_page else articles) %}
                                    <li class="post_list"><p class="post_entry">
                                        <h2 class="post_title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                                                  title="{{ article.title|striptags }}">{{ article.title }}</a>
                                        </h2>
                                        {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
                                            <p>{{ article.summary }}</p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                  <!--  </div>
                </div>
            </div>
        </div>-->

        {% if articles_page and articles_paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}

    {% if  page.slug  in ('Contact') %}
        <div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <input type="checkbox" id="imgTap">

            <div class="inner-part">
                <label for="imgTap" class="img">
                    <!-- <img class="img-1" src="../images/me.png"> -->
                    <iframe class="img-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.470283633111!2d23.737692499999994!3d37.919442499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bddd0c15cecd%3A0x6b4c9fdbd96baeb1!2zzonPgc-Jzr_PgiDOnM6sz4TPg863IDcwLCDOhs67zrnOvM6_z4IgMTc0IDU2!5e0!3m2!1sel!2sgr!4v1707293961096!5m2!1sel!2sgr"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </label>
                <div class="content content-1">
                    <div class="text">
                        <span style="float:right; width:100%">
                            <a href="https://maps.app.goo.gl/RstcEQ91LDKZVg2d8" target="_blank">
                                <img style="width:20px;height:auto;padding-right:5px" src="{{SITEURL}}/images/locate.png"/>{{ADDRESS}}
                            </a>
                        </span>
                        <span style="float:right; width:100%">
                            <a href="mailto:konsan72@yahoo.gr"><img style="width:20px;height:auto;padding-right:5px" src="{{SITEURL}}/images/email.png"/>{{EMAIL}}</a>
                        </span>
                        <span style="float:right; width:100%">
                            <a href="tel:+306907161439"><img style="width:20px;height:auto;padding-right:5px" src="{{SITEURL}}/images/tel.png"/>{{MOBILE}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



</article>

{% endblock %}
