<!--{% print(page.slug) %}-->


{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}


<article>

    {% if  page.slug  in ('CV') %}
        <div  style="padding:10px; background-color: #2980b9; COLOR:WHITE ">
            <img style="float:right;width:70px;padding:6px;border-radius: 10px;" src="{{SITEURL}}/images/me.png" />
            <span style="float:right;padding:6px;">
                {{ADDRESS}} <br>
                {{MOBILE}} <br>
                {{EMAIL}}
            </span>
            <h1>{{NAME}}</h1>
            <h1>{{PROFESSION_DESCRIPTION}}</h1>
            <h1>{{PROFESSION_TITLE}}</h1>
        </div>
        <br><br>
        {{ page.content }}
    {% endif %}

    {% if  page.slug  in ('Services') %}

        <div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <input type="checkbox" id="imgTap">

            <div class="inner-part">
                <div class="content content-1">
                    <div class="text">
                       {% if articles %}
                            <ol class="posts">
                                <!-- {% block heading %}<h2 class="latest">{{ SERVICES }}</h2>{% endblock %} -->
                                {% for article in (articles_page.object_list if articles_page else articles) %}
                                    <li class="post_list"><p class="post_entry">
                                        <h2 class="post_title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                                                  title="{{ article.title|striptags }}">{{ article.title }}</a>
                                        </h2>
                                        {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
                                            <p>{{ article.summary }}</p>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if articles_page and articles_paginator.num_pages > 1 %}
            {% include 'pagination.html' %}
        {% endif %}
    {% endif %}

    {% if  page.slug  in ('Contact') %}
        <div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <input type="checkbox" id="imgTap">

            <div class="inner-part">
                <label for="imgTap" class="img">
                    <img class="img-1" src="../images/me.png">
                </label>
                <div class="content content-1">
                    <div class="text">
                        <span style="float:left; width:100%">
                            <a href="https://maps.app.goo.gl/RstcEQ91LDKZVg2d8" target="_blank">
                                <img style="width:20px;height:auto;padding-right:5px" src="{{SITEURL}}/images/locate.png"/>{{ADDRESS}}
                            </a>
                        </span>
                        <span style="float:left; width:100%">
                            <a href="mailto:konsan72@yahoo.gr"><img style="width:20px;height:auto;padding-right:5px" src="{{SITEURL}}/images/email.png"/>{{EMAIL}}</a>
                        </span>
                        <span style="float:left; width:100%">
                            <a href="tel:+306907161439"><img style="width:20px;height:auto;padding-right:5px" src="{{SITEURL}}/images/tel.png"/>{{MOBILE}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



</article>

{% endblock %}
