    <div class="extra-pagination">
        {% include "partials/pagination.html" %}
    </div>

    {% for article in articles_page.object_list %}

        {% set primary_tag=None %}
        {% if article.category %}
            {% set primary_tag=article.category %}
        {% elif article.tags %}
            {% set primary_tag=article.tags[0] %}
        {% endif %}

    <article class="post">
        <div class="inner">
            <div class="box post-box">
                <div class="post-content">
                    <div class="flex-container">
                        <div class="flex-item">
                            <img src="{{ SITEURL }}/{{ article.metadata['image_url'] }}"/>
                        </div>
                        <div class="flex-item">
                            <h2>
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.metadata['title']|striptags }}">{{ article.metadata['title'] }}</a>
                            </h2>
                             {{ article.summary }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}

<!--    {% include "partials/pagination.html" %}-->
