{# <!-- Choosing cover image --> #}
{% if article.og_image %}
    {% if article.og_image|lower|truncate(4, True, '') == "http" %}
        {% set selected_cover = article.og_image %}
    {% elif article.og_image.startswith('/') %}
        {% set selected_cover = SITEURL+article.og_image %}
    {% else %}
        {% set selected_cover = SITEURL+"/"+article.og_image %}
    {% endif %}
{% elif article.cover %}
    {% if article.cover|lower|truncate(4, True, '') == "http" %}
        {% set selected_cover = article.cover %}
    {% elif article.cover.startswith('/') %}
        {% set selected_cover = SITEURL+article.cover %}
    {% else %}
        {% set selected_cover = SITEURL+"/"+article.cover %}
    {% endif %}
{% elif HEADER_COVER %}
  {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
{% else %}
  {% set selected_cover = SITEURL+"/"+THEME_STATIC_DIR+"/images/post-bg.jpg" %}
{% endif %}

{% set selected_cover = HOME_COVER_URL_OG %}

{# <!-- Choosing description --> #}
{% if article.headline %}
    {% set description = article.headline %}
{% elif article.summary %}
    {% set description = article.summary|striptags|truncate(140) %}
{% endif %}

{% set title = article.metadata['title']|striptags %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "name": "{{ title }}",
  "headline": "{{ SITENAME }}",
  "image": "{{ selected_cover }}",
  "url": "{{ SITEURL_OG }}/{{ article.url }}",
  "description": "{{ description }}"
}
</script>
