html { 
  font-family: 'Open Sans', 'helvetica', sans-serif;
  background: url('../images/background.png');
  background-attachment: fixed;
  font-size: 14px;
}

/* Titles */
h1 { text-transform: uppercase }
h1, h2 { 
	font-weight: normal; 
  margin-top: 10px;
  margin-bottom: 10px;
}


.title
{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
  line-height: 1;
  font-weight: 600;
}

.subtitle
{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
  line-height: 1;
  font-weight: 600;
}

.latest
{-
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail
{
  font-size: 2em;
  line-height: 1em;
}

.entry-content
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}

article section .about
{
  font-size: 18px;
  color: #444;
  text-align: justify;
}

article section .blog-post
{
  font-size: 16px;
}

table {
    width:100%;
    markdown:1;
}

/* Body */
body {margin: 0}
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 700px;
  margin: 40px auto auto 355px;
  padding: 20px 80px 10px;
}

article ol.posts
{
  padding-left: 0;
}

/* Articles */
p.post_entry {  
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.article_left > h1 {
  font-size: 20px;
}
.article_right {
  background-color: white;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}


/* Links */;
a  { color:#1DAEDF; text-decoration:none; }
a:visited { color:#1DAEDF; text-decoration:none; }
a:link { color:#1DAEDF; text-decoration:none; }
a:active { color:#1DAEDF; text-decoration:none; }
a:hover { text-decoration: underline; }

/* Code */
.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
}

/* Sidebar */
aside {
  font-size: 14px;
  font-weight: 900;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;  
  /* background-color: #2980b9; */
  background: url('../images/background-aside.png');
  color: #2980b9;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 8%;
  background-size: cover;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}

aside > h1 { 
  text-transform: uppercase;
  font-size: 25px; 
  font-weight: 900;
  margin-bottom: 5px;
}

aside > h2 { 
  text-transform: uppercase;
  font-size: 14px; 
  margin-bottom: 5px;
}

#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.social
{
  display: inline-block;
  margin-top: 40px;
}

.nav
{
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  /* border: 1px solid #328cc7; */
  margin-top: 1px;
}

.nav > ul > li
{
  font-size: 15px;
}

.nav a
{
    color: #328cc7;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.nav a:hover
{
	color: #fff;
    background-color: #328cc7;
}

.list-bare
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link 
{
  display: block; 
  padding: 0.77273rem 0;
  /* border-bottom: 1px solid #328cc7; */
}


.blog_roll_link 
{
  display: block;
  padding: 0.33147rem 0;
  border-bottom: 3px solid #328cc7;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  text-align: center;
}

#leftbox {
    /* text-align: left;*/
     width: 50%;
     float: left;
}

#middlebox {
    float: left;
    width: 0%;
}

#rightbox {
     /*text-align: right;*/
     width: 50%;
     float: right;
}

/*--------Responsive------------*/

@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }

  .nav
  {
    margin-left: 0;
    margin-right: 0;
  }

  body > article {
    margin: 0 auto;
    padding-top: 5px;
    padding: 1em;
  }

  footer
  {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}

img {
  max-width: 100%;
}


.image {
  width: 100%;
  height: auto;
}
.radio {
  display: none;
}
.images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.images-inner {
  width: 500%;
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.image-slide {
  width: 20%;
  float: left;
}
.image-slide,
.fake-radio,
.radio-btn {
  transition: all 0.5s ease-out;
}
.fake-radio {
  float: right;
}


/* Move slides overflowed container */
#slide1:checked ~ .images .images-inner {
  margin-left: 0;
}
#slide2:checked ~ .images .images-inner {
  margin-left: -100%;
}
#slide3:checked ~ .images .images-inner {
  margin-left: -200%;
}

/* Text of slides */
#slide1:checked ~ .labels .label:nth-child(1),
#slide2:checked ~ .labels .label:nth-child(2),
#slide3:checked ~ .labels .label:nth-child(3) {
  opacity: 1;
}

.label {
  opacity: 10;
  position: absolute;
}
/* Text of slides - END */




/* Calculate AUTOPLAY for SLIDES */
@keyframes slide {
  0%, 25.203252032520325%	{ margin-left: 0; }
  33.333333333333336%, 58.53658536585366%	{ margin-left: -100%; }
  66.66666666666667%, 91.869918699187%	{ margin-left: -200%; }
}


.st-slider > #play1:checked ~ .images .images-inner {
  animation: slide 12300ms infinite;
}
/* Calculate AUTOPLAY for SLIDES - END */





/* Calculate AUTOPLAY for CAPTION */
@keyframes caption {
  0%, 33.32333333333334%	{
    opacity: 1;
  }
  33.333333333333336%, 100% {
    opacity: 0;
  }
}


#play1:checked ~ .labels .label:nth-child(1) {
  animation: caption 12300ms infinite -1000ms;
}

#play1:checked ~ .labels .label:nth-child(2) {
  animation: caption 12300ms infinite 3100ms;
}

#play1:checked ~ .labels .label:nth-child(3) {
  animation: caption 12300ms infinite 7200ms;
}
/* Calculate AUTOPLAY for CAPTION - END */


